.nav-wrapper > a {
  margin-left: 15px;
}

.container{
  height: calc(100vh - 64px);
}

#welcome-img{
  width: 75%;
}

p{
  font-size: 14pt;
}

@media only screen and (max-width: 600px) {
  .container {
    height: calc(100vh - 56px);
  }
}


